<% if flash[:notice] %>
  <div class="notice">
    <%= flash[:notice] %></p>
  </div>
<% end %>

<div class="card">
  <h1><%= @frog.name %> the Frog</h1>

  <p><a href="/frogs/<%= @frog.id %>/tadpoles/new" class="btn btn-primary">Create new tadpole baby</a></p>

  <p>Color: <%= @frog.color %></p>
  <% if @frog.pond  %>
    <p>Lives: <a href="/ponds/<%= @frog.pond.id %>"><%= @frog.pond.name %></a></p>
  <% end  %>
  <% unless @frog.tadpoles.empty? %>
    <h2>Children</h2>
    <ol>
      <% @frog.tadpoles.each do |tadpole| %>
        <li><a href="/tadpoles/<%= tadpole.id %>"><%= tadpole.name %></a></li>
      <% end %>
    </ol><br>
  <% end %>
  <a href="/frogs">Back</a> | 
  <a href="/frogs/<%= @frog.id %>/edit">Edit</a> | 
  <a href="/frogs/<%= @frog.id %>/destroy">Delete</a>
</div>

<div class="card">
  <img src="http://loremflickr.com/175/115/frog?random=<%= @frog.id  %>" alt="Frog Picture" width="350">
</div>